@font-face {
  font-family: 'icomoon';
  src:  url('/../fonts/icomoon.eot?icub8d');
  src:  url('/../fonts/icomoon.eot?icub8d#iefix') format('embedded-opentype'),
    url('/../fonts/icomoon.ttf?icub8d') format('truetype'),
    url('/../fonts/icomoon.woff?icub8d') format('woff'),
    url('/../fonts/icomoon.svg?icub8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-total:before {
  content: "\e921";
  font-size: 4rem;
}
.icon-importe:before {
  content: "\e93c";
  font-size: 4rem;
}
.icon-haz-retirado:before {
  content: "\e93f";
  font-size: 4rem;
}
.icon-movil:before {
  content: "\e958";
  font-size: 4rem;
}
.icon-ayuda:before {
  content: "\e987";
}
.icon-retirar:before {
  content: "\e9c5";
  font-size: 4rem;
}
.icon-ingresar:before {
  content: "\e9c6";
  font-size: 4rem;
}
.icon-salir:before {
  content: "\ea0f";
}


body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 98vh;
    max-width: 98vw;
    margin: 0 auto;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 30vh;
    flex-wrap: wrap;
}

figure {
    height: 100%;
    margin: 0;
}

figure img {
    height: 100%;
    vertical-align: top;
}

h1 {
    white-space: nowrap;
    color: #243743;
}

h2 {
    font-weight: 300;
    color: #243743;
}

.container-buttons {
    margin: 0 50px;
}

.help {
    -moz-box-shadow: 1px 1px 0px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 0px 1px #e0e0e0;
    box-shadow: 1px 1px 0px 1px #e0e0e0;
    background-color: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #243743;
    display: inline-block;
    cursor: pointer;
    color: #243743;    
    font-family: Arial;
    font-size: 20px;
    padding: 32px 36px;
    text-decoration: none;
    margin: 2px;
}

.help:active {
    position: relative;
    top: 3px;
}

.exit {
    -moz-box-shadow: 1px 1px 0px 1px #e0e0e0;
    -webkit-box-shadow: 1px 1px 0px 1px #e0e0e0;
    box-shadow: 1px 1px 0px 1px #e0e0e0;
    background-color: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #243743;
    display: inline-block;
    cursor: pointer;
    color: #243743;
    font-family: Arial;
    font-size: 20px;
    padding: 32px 36px;
    text-decoration: none;
    margin: 2px;
}

.exit:active {
    position: relative;
    top: 3px;
}

.operations-list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-gap: 5px;
    color: white;
    height: 70vh;
}

.operations-item {
    height: 35vh;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.operations-item:nth-of-type(1) {
    grid-column: 1 / span 2;
    background-color: #28B78D;
}

.operations-item:nth-of-type(2) {
    grid-column: 3 / 4;
    background-color: #28B78D;
}

.operations-item:nth-of-type(3) {
    grid-column: 4 / 6;
    background-color: #28B78D;
}

#saldo {
    border-radius: 2px;
    border: 2px solid white;
    padding: 10px;
    margin: 0;
}

.operations-item:nth-of-type(4) {
    grid-column: 1 / span 2;
    background-color: #243743;
}

input[type=number] {
    border-radius: 2px;
    background-color:transparent;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #ffffff;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 20px;
    text-decoration:none;
    outline: none;
    margin: 5px;
}

input[type=button] {
    border-radius: 2px;
    background-color:transparent;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #28B78D;
    cursor:pointer;
    color: #28B78D;
    font-size:17px;
    padding:16px 20px;
    text-decoration:none;
    outline: none;
    margin: 5px;
}

input[type=button]:active {
    position: relative;
    top: 3px;
}

.operations-item:nth-of-type(5) {
    grid-column: 3 / 4;    
    background-color: #243743;
}

.operations-item:nth-of-type(6) {
    grid-column: 4 / 6;
    background-color: #243743;
}

#resultado {
    margin: 0;
}

#resultado p {
    margin: 10px;
}